body,
ul {
  margin: 0;
  padding: 0;
}

/* navbar & Header */
header {
  background-color: #d3d3d3;
  color: #333;
  padding: 10px 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
/*  logo */
.logo img {
  height: 50px;
}

/* menu */
.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/*  menu hover  */
.menu a:hover {
  color: #ffff;
}

/* ------------------------------------------*/
/* first section p1 style  */
.hero {
  background-image: url("assets/photos/nigth-img.jpeg"); /* Replace with your background image path */
  background-size: cover;
  background-position: center;
  color: #ffff;
  text-align: center;
  padding: 100px 0;
}
span {
  color: #2f78e5;
}
/* Style the hero content */
.hero-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 7px;
  background-color: rgba(11, 11, 11, 0.7);
}

/* Style the h2 in the hero section */
.hero h2 {
  font-size: 30px;
  margin-bottom: 5px;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* Style the description in the hero section */
.hero p {
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

/* Style the button in the hero section */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2f78e5;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/*btn hover */
.btn:hover {
  background-color: #0b028c; /* Change to your desired hover color */
}
